/* عمومی */
@font-face {
    font-family: yekan;
    src: url("/assets/font/persianFont/yekan-font/yekan-regular.woff");
    src: url("/assets/font/persianFont/yekan-font/yekan-regular.ttf");
}

* {
    font-family: yekan;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background: url(/assets/images/10.jpg) center/cover , rgba(255, 255, 255, 0.491);
    background-blend-mode: overlay;
}

.mediaSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.videoBox {
    width: 80%;
    overflow: hidden;
    border-radius: 2rem;
    outline: 0.3rem dashed red;
    outline-offset: 0.5rem;
    height: 50vh;
    position: relative;
}

.videoBox video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videoBox button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 10rem;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    bottom: 2rem;}

.musicBox{
    display: flex;
    gap: 1rem;
}

.musicItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}
.musicItem img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 1rem black;
}