 @font-face {
  font-family: yekan;
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.woff");
  src: url("/assets/font/persianFont/yekan-font/yekan-regular.ttf");
}
@font-face {
  font-family: vazir;
  src: url("/assets/font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff");
  src: url("/assets/font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2");
}

/* Reset Styles */

body {
  font-family: "vazir" !important; 
}

input{
    font-family: inherit;
}

button{
    font-family: inherit;
    margin-top: 1rem;
}
